@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,100&display=swap');

* {
    margin: 0;
    font-family: 'Roboto';
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    padding: 7pt 23pt;
    border-radius: 6pt;
    font-size: 16px;
    font-weight: 500;

}
.container {

}

.dark-bg {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 10pt 0 10pt 0;
}

.header,
.hero {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.header-logo {
    font-size: 24px;
    font-weight: 500;
    align-self: center;
}

.header-nav-bar-menu {
    display: flex;
}

.header-nav-bar-menu li {
    list-style: none;
    padding: 10pt 0 10pt 20pt;
}

.hero {
    padding: 90pt 0 90pt 0;
    gap: 30pt;
}

.hero-summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-summary-main {
    font-size: 48px;
    font-weight: 900;
}

.hero-summary-secondary,
.header-nav-bar-menu {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-summary button {
    margin-top: 10pt;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 250px;
    background-color: grey;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.information-header {
    padding: 50px;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.information-blocks {
    display: flex;
    flex-direction: row;
    margin-bottom: 60pt;
    justify-content: space-around;
}

.infoblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10pt;
    flex-basis: 0%;
}

.infoblock-image {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 10pt;
    margin-bottom: 5pt;
}

.infoblock-description {
    color: #1F2937;
    text-align: center;
}

.light-bg {
    background-color: #E5E7EB;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.quote,
.quote-signature {
    margin: 50pt 50pt 0 50pt;
    width: 50%;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.quote-signature {
    margin: 10pt 0 50pt;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    text-align: right;
    width: 45%;
}

.call-form {
    display: flex;
    justify-content: space-between;
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 30pt 50pt;
    margin: 50pt;
    border-radius: 10pt;
    width: 50%;
}

.call-form-text {
    display: flex;
    flex-direction: column;
}

.call-form-text-header {
    font-size: 24px;
    font-weight: 500;
}

.call-form-text-subtext { 
    font-size: 14px;
    font-weight: 100;
    color: #E5E7EB;
}

.call-form-button button {
    border: 2px solid #F9FAF8;
    padding: 5pt 20pt;
}

.footer {
    padding: 10pt;
}
